<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs', {title: 'Login'}) %>


    <body>
        <!--Inicio cabecera-->
        <%- include('partials/header.ejs') %>
            <!--Fin cabecera-->
            <div class="boxlogin">
                <div class="login">
                    <form action="/user/login" class="formlogin" method="post">
                        <div class="inputlogin">
                            <label for="">Usuario</label>
                            <input type="email" name="email" id="">
                            <% if (locals.errors && errors.email) { %>
                             <div class="error-message">
                                <%= errors.email.msg %>
                             </div>
                            <% } %>
                        </div>
                        <div class="inputlogin">
                            <label for="">Contraseña</label>
                            <input type="password" name="password" id="">
                        </div>
                        <div class="inputlogin">
                            <label for="recordarme">
                                <input type="checkbox" name="remember_user" >
                                recordar mi usuario
                            </label>
                        </div>
                        <button type="submit">Ingresar</button>
                    </form>
                </div>
            </div>
            <!--Inicio Footer-->
            <div class="clearfix"></div>
            <%- include('partials/footer.ejs') %>

                <!--Fin Footer-->

                <!--Script-->
                <script src="/js/navScript.js"></script>
                <script src="/js/formRegisterScript.js"></script>
    </body>

</html>