<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs', {title: 'Inicio' }) %>


    <body>
        <!--Inicio cabecera-->
        <%- include('partials/header.ejs') %>
            <!--Fin cabecera-->

            <section class="wrap wrap-content wrap-banner">
                <section id="info">

                    <!--Inicio banner-->
                    <%- include('partials/banner.ejs') %>

                        <!--Fin banner-->

                        </div>

                </section>
                <!--Inicio articulos-->
                <h2 class="title-index">Nuestros Productos</h2>
                <section id="articles">
                    <div id="container-products">
                        <div class="box-product">
                            <div class="box-img">
                                <img src="/img/arrabalera.jpeg" alt="">
                            </div>
                            <div class="box-details">
                                <p class="name-product"> <a href="/product/details/2">Arrabalera</a></p>
                                <p class="price-product">$ 4000</p>
                                <p class="descrption-product">Ale refrescante y de especiada con fuertes notas a
                                    cítricos de color naranja oscuro, altamente carbonatada, bien lupulada y seca, con
                                    una acidez mitigadora de la sed, con 5.3% aprox de alcohol, una cerveza para los mas
                                    arriesgados que disfrutan de sabores intensos.</p>
                            </div>
                        </div>

                        <div class="box-product">
                            <div class="box-img">
                                <img src="/img/arrabalera.jpeg" alt="">
                            </div>
                            <div class="box-details">
                                <p class="name-product"> <a href="#">Arrabalera</a></p>
                                <p class="price-product">$ 4000</p>
                                <p class="descrption-product">Ale refrescante y de especiada con fuertes notas a
                                    cítricos de color naranja oscuro, altamente carbonatada, bien lupulada y seca, con
                                    una acidez mitigadora de la sed, con 5.3% aprox de alcohol, una cerveza para los mas
                                    arriesgados que disfrutan de sabores intensos.</p>
                            </div>
                        </div>

                        <div class="box-product">
                            <div class="box-img">
                                <img src="/img/arrabalera.jpeg" alt="">
                            </div>
                            <div class="box-details">
                                <p class="name-product"> <a href="#">Arrabalera</a></p>
                                <p class="price-product">$ 4000</p>
                                <p class="descrption-product">Ale refrescante y de especiada con fuertes notas a
                                    cítricos de color naranja oscuro, altamente carbonatada, bien lupulada y seca, con
                                    una acidez mitigadora de la sed, con 5.3% aprox de alcohol, una cerveza para los mas
                                    arriesgados que disfrutan de sabores intensos.</p>
                            </div>
                        </div>

                        <div class="box-product">
                            <div class="box-img">
                                <img src="/img/arrabalera.jpeg" alt="">
                            </div>
                            <div class="box-details">
                                <p class="name-product"> <a href="#">Arrabalera</a></p>
                                <p class="price-product">$ 4000</p>
                                <p class="descrption-product">Ale refrescante y de especiada con fuertes notas a
                                    cítricos de color naranja oscuro, altamente carbonatada, bien lupulada y seca, con
                                    una acidez mitigadora de la sed, con 5.3% aprox de alcohol, una cerveza para los mas
                                    arriesgados que disfrutan de sabores intensos.</p>
                            </div>

                        </div>
                    </div>
                    <div id="container-products">
                        <div class="box-product">
                            <div class="box-img">
                                <img src="/img/arrabalera.jpeg" alt="">
                            </div>
                            <div class="box-details">
                                <p class="name-product"> <a href="/product/details/2">Arrabalera</a></p>
                                <p class="price-product">$ 4000</p>
                                <p class="descrption-product">Ale refrescante y de especiada con fuertes notas a
                                    cítricos de color naranja oscuro, altamente carbonatada, bien lupulada y seca, con
                                    una acidez mitigadora de la sed, con 5.3% aprox de alcohol, una cerveza para los mas
                                    arriesgados que disfrutan de sabores intensos.</p>
                            </div>
                        </div>

                        <div class="box-product">
                            <div class="box-img">
                                <img src="/img/arrabalera.jpeg" alt="">
                            </div>
                            <div class="box-details">
                                <p class="name-product"> <a href="#">Arrabalera</a></p>
                                <p class="price-product">$ 4000</p>
                                <div class="descrption-product1">
                                    <p class="descrption-product">Ale refrescante y de especiada con fuertes notas a
                                        cítricos de color naranja oscuro, altamente carbonatada, bien lupulada y seca,
                                        con
                                        una acidez mitigadora de la sed, con 5.3% aprox de alcohol, una cerveza para los
                                        mas
                                        arriesgados que disfrutan de sabores intensos.</p>
                                </div>
                            </div>
                        </div>

                        <div class="box-product">
                            <div class="box-img">
                                <img src="/img/arrabalera.jpeg" alt="">
                            </div>
                            <div class="box-details">
                                <p class="name-product"> <a href="#">Arrabalera</a></p>
                                <p class="price-product">$ 4000</p>
                                <p class="descrption-product">Ale refrescante y de especiada con fuertes notas a
                                    cítricos de color naranja oscuro, altamente carbonatada, bien lupulada y seca, con
                                    una acidez mitigadora de la sed, con 5.3% aprox de alcohol, una cerveza para los mas
                                    arriesgados que disfrutan de sabores intensos.</p>
                            </div>
                        </div>

                        <div class="box-product">
                            <div class="box-img">
                                <img src="/img/arrabalera.jpeg" alt="">
                            </div>
                            <div class="box-details">
                                <p class="name-product"> <a href="#">Arrabalera</a></p>
                                <p class="price-product">$ 4000</p>
                                <p class="descrption-product">Ale refrescante y de especiada con fuertes notas a
                                    cítricos de color naranja oscuro, altamente carbonatada, bien lupulada y seca, con
                                    una acidez mitigadora de la sed, con 5.3% aprox de alcohol, una cerveza para los mas
                                    arriesgados que disfrutan de sabores intensos.</p>
                            </div>
                        </div>

                    </div>
                </section>
                <!--Fin articulos-->




            </section>
            <!--Inicio Footer-->
            <div class="clearfix"></div>
            <%- include('partials/footer.ejs') %>

                <!--Inicio Footer-->


                <!--Script-->
                <script src="/js/navScript.js"></script>
    </body>


</html>