<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>


    <body>
        <!--Inicio cabecera-->
        <%- include('partials/header.ejs') %>
            <!--Fin cabecera-->

            <section class="wrap wrap-content">
                <section id="info">

                    <!--Inicio banner-->
                    <%- include('partials/banner.ejs') %>

                        <!--Fin banner-->

                        </div>

                </section>

                <!--Inicio articulos-->
                <section id="articles">
                    <h2>Ultimos articulos</h2>
                    <div id="container-products">
                        <div class="box-product">
                            <div class="box-img">
                                <img src="/img/arrabalera.jpeg" alt="">
                            </div>
                            <div class="box-details">
                                <p class="name-product"> <a href="#">Arrabalera</a></p>
                                <p class="price-product">$ 4000</p>
                                <p class="descrption-product">Ale refrescante y de especiada con fuertes notas a
                                    cítricos de color naranja oscuro, altamente carbonatada, bien lupulada y seca, con
                                    una acidez mitigadora de la sed, con 5.3% aprox de alcohol, una cerveza para los mas
                                    arriesgados que disfrutan de sabores intensos.</p>
                            </div>
                        </div>

                        <div class="box-product">
                            <div class="box-img">
                                <img src="/img/arrabalera.jpeg" alt="">
                            </div>
                            <div class="box-details">
                                <p class="name-product"> <a href="#">Arrabalera</a></p>
                                <p class="price-product">$ 4000</p>
                                <p class="descrption-product">Ale refrescante y de especiada con fuertes notas a
                                    cítricos de color naranja oscuro, altamente carbonatada, bien lupulada y seca, con
                                    una acidez mitigadora de la sed, con 5.3% aprox de alcohol, una cerveza para los mas
                                    arriesgados que disfrutan de sabores intensos.</p>
                            </div>
                        </div>

                        <div class="box-product">
                            <div class="box-img">
                                <img src="/img/arrabalera.jpeg" alt="">
                            </div>
                            <div class="box-details">
                                <p class="name-product"> <a href="#">Arrabalera</a></p>
                                <p class="price-product">$ 4000</p>
                                <p class="descrption-product">Ale refrescante y de especiada con fuertes notas a
                                    cítricos de color naranja oscuro, altamente carbonatada, bien lupulada y seca, con
                                    una acidez mitigadora de la sed, con 5.3% aprox de alcohol, una cerveza para los mas
                                    arriesgados que disfrutan de sabores intensos.</p>
                            </div>
                        </div>

                        <div class="box-product">
                            <div class="box-img">
                                <img src="/img/arrabalera.jpeg" alt="">
                            </div>
                            <div class="box-details">
                                <p class="name-product"> <a href="#">Arrabalera</a></p>
                                <p class="price-product">$ 4000</p>
                                <p class="descrption-product">Ale refrescante y de especiada con fuertes notas a
                                    cítricos de color naranja oscuro, altamente carbonatada, bien lupulada y seca, con
                                    una acidez mitigadora de la sed, con 5.3% aprox de alcohol, una cerveza para los mas
                                    arriesgados que disfrutan de sabores intensos.</p>
                            </div>
                        </div>


                        <article id="blog">
                            <a href="/user/create">Registrate </a>
                        </article>

                </section>
                <!--Fin articulos-->

                <!--Inicio barra lateral-->

                <aside id="lateral">

                    <h3>Bucar</h3>
                    <div id="search">
                        <form action="">
                            <input type="text" />
                            <input type="button" value="L" class="icon" />
                        </form>
                    </div>

                    <h3>Login</h3>
                    <div id="login" class="aside-box">
                        <form action="">
                            <label id="user" class="icon">U</label>
                            <input type="email">

                            <label id="password" class="icon">w</label>
                            <input type="password" name="">

                            <input type="submit" value="Entrar">
                            <input type="reset" value="Borrar">

                            <a href="/user/create">Registrate aqui</a>
                            <a href="#">¿Has olvidado tu contraseña?</a>

                        </form>
                    </div>

                    <h3>Redes sociales</h3>
                    <div id="social" class="aside-box">
                        <div class="twitter">
                            <a href="#" class="icon">t</a>
                            <p class="overlay">Twitter</p>
                        </div>
                        <div class="facebook">
                            <a href="#" class="icon">f</a>
                            <p class="overlay">Facebook</p>
                        </div>
                        <div class="youtube">
                            <a href="#" class="icon">y</a>
                            <p class="overlay">Youtube</p>
                        </div>
                    </div>

                </aside>
                <!--fIN DE barra lateral-->


            </section>
            <!--Inicio Footer-->
            <div class="clearfix"></div>
            <%- include('partials/footer.ejs') %>

                <!--Inicio Footer-->


    </body>

</html>