<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs', {title: 'Somos' }) %>



    <body>
        <!--Inicio cabecera-->
        <%- include('partials/header.ejs') %>
            <!--Fin cabecera-->
            <div id="list-somos">
                <div class="panel-somos">
                   <h1>QUIENES SOMOS</h1>
                   <br /><br />                   
                    <p>Casquillera es una cerveceria colombiana que nace en la ciudad de Medellín en el año 2021, 
                       el origen de su nombre se debe a la identidad por la que busca ser reconocida, primero tomando un nombre propio de la
                       region antioqueña, cuyo significado trasciende a la mujer coqueta y seductora que todos admiramos y queremos a nuestro lado,
                       contamos con seis estilos, muy equilibrados y muy fáciles de tomar, inspirados en las cervezas mas reconocidas a nivel mundial 
                    </p> 
                </div>
            </div>
            <!--Inicio Footer-->
            <div class="clearfix"></div>
            <%- include('partials/footer.ejs') %>

                <!--Fin Footer-->

                 <!--Script-->
                 <script src="/js/navScript.js"></script>
    </body>

</html>