<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>


    <body>
        <!--Inicio cabecera-->
        <%- include('partials/header.ejs') %>
            <!--Fin cabecera-->
            <div id="box_contact">
                <div class="contact">
                   <h1>CONTACTOS</h1>
                <div class="infoContact">
                    <p>Yohana Sanchez  <strong>yohanasanchezq@gmail.com</strong></p>
                    <br>
                    <p>Jorge Diaz Falcon  <strong>   jorgeldiaz1628@gmail.com</strong></p>
                    <br>
                    <p>Gabriel Arroyave  <strong>garroyave26@gmail.com</strong></p>
                    <br>
                    <p>Mayerly Carrillo  <strong>mmaller67@gmail.com</strong></p>
                </div>                  
                    
                </div>
            </div>
            <!--Inicio Footer-->
            <div class="clearfix"></div>
            <%- include('partials/footer.ejs') %>

                <!--Fin Footer-->

                 <!--Script-->
                 <script src="/js/navScript.js"></script>
    </body>

</html>