@media (min-width: 1370px) {
  .wrap {
    width: 85%;
    margin: 0px auto;
  }  
  .title-index {
    width: 93%;
    font-size: 51px;
    margin-left: 25px;
  }
  #articles #container-products .box-product{
    width: 22%;
  }
  #articles #container-products .box-product {
    margin: 10px;
  }
}

@media (max-width: 1254px) {
  .wrap {
    width: 72%;
    margin: 0px auto;
  }
  
  .footer_wrap{
    width: 86%;
  }

  #banner h1 {
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin: 33px auto;
  }




  .card {
    width: 17%;
    margin: 1.45%;
  }

  .card p {
    display: block;
    width: 90%;
    margin: 0px auto;
    text-align: center;
  }



  #articles article {
    width: 94%;
  }

  #footer .wrap>div {
    width: 24%;
  }

  #footer #browsers img {
    width: 14%;
  }

  #footer h5 {
    font-size: 20px;
  }
}

@media (max-width: 1080px) {
  .card .category {
    font-size: 17px;
  }

  .card .description {
    font-size: 14px;
  }

  
}

@media (max-width: 970px) {
  

  #footer .wrap>div {
    width: 25%;
    margin: 20px;
  }

  #footer h5 {
    font-size: 16px;
  }
}

@media (max-width: 925px) {
 

  #lateral {
    width: 25%;
  }

  #lateral input[type="text"] {
    width: 78%;
  }

  .aside-box {
    width: 95%;
    min-height: 140px;
    height: auto;
    padding-bottom: 10px;
  }

  #login a {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #login input[type="email"],
  #login input[type="password"] {
    width: 65%;
  }

  #login #user,
  #login #password {
    margin-left: 24px;
  }

  #login input[type="submit"],
  #login input[type="reset"],
  #login input[type="button"],
  #login button {
    margin-bottom: 0px;
  }

  #login input[type="reset"] {
    display: none;
  }
}

@media (max-width: 899px) {
  #lateral h3 {
    font-size: 20px;
  }
}

@media (max-width: 899px) {
  #banner h1 {
    font-size: 29px;
  }

  .card {
    height: auto;
  }

  .card .category {
    font-size: 15px;
    margin-top: -23px;
  }

  .card .description {
    display: none;
  }

  #footer img {
    margin-bottom: 15px;
    max-width: 100%;
  }
}

@media (max-width: 724px) {
  #header {
    width: 100%;
    height: 120px;
    padding-top: 10px;
  }

  #menu {
    clear: both;
    float: none;
    width: 440px;
    margin: 0px auto;
  }

  #logo {
    float: none;
    width: 200px;
    margin: 0px auto;
  }
  

  #lateral input[type="text"] {
    width: 70%;
  }
  
}

@media (max-width: 660px) {
  #banner h1 {
    font-size: 25px;
  }

  #lateral {
    float: none;
    width: 100%;
    margin: 0px auto;
    min-height: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  #lateral input[type="text"] {
    width: 93%;
  }

  #login input[type="email"],
  #login input[type="password"] {
    width: 90%;
  }
  

  #articles {
    float: none;
    width: 100%;
    margin: 0px auto;
  }

  #footer {
    height: auto;
    padding-bottom: 40px;
  }

  #footer .wrap>div {
    width: 100%;
    margin: 0px auto;
    margin-top: 20px;
  }

  #footer h5 {
    font-size: 25px;
  }
}

@media (max-width: 474px) {
  .wrap {
    margin-top: 100px;
  }

  .wrap-banner {
    padding: 15px;
  }

  .title-index {
    margin-left: 11px;
  }

  #logo {
    float: left;
    margin-bottom: 10px;
  }

  #logo h3 {
    font-size: 25px;
    margin-right: 17px;
  }

  #header {
    height: 240px;
  }

  #menu {
    width: 75%;
  }

  #menu ul li {
    width: 100%;
    line-height: 52px;
  }

  #menu ul li a {
    width: 100%;
    line-height: 30px;
  }

  #menu ul li a:hover {
    color: #37bcf9;
    transform: scale(1, 1);
  }

  #banner {
    height: 85px;
  }

  #banner h1 {
    font-size: 18px;
  }

  #lateral input[type="text"] {
    width: 85%;
  }

  .card {
    margin: 1%;
  }

  .card .icon {
    font-size: 35px;
  }

  .card:hover .icon {
    font-size: 35px;
  }

  .card .category {
    font-size: 13px;
  }

  #articles .data {
    float: none;
    margin: -10px;
    border-radius: 0px 0px 0px 0px;
  }

  #articles h2 {
    display: none;
  }

  #articles article h4 {
    margin-top: 20px;
  }

  #login input[type="email"],
  #login input[type="password"] {
    width: 77%;
  }
  .box-details .descrption-product {
    display: none;
    height: 70px;
    overflow: hidden; 
  }
}