/*fuentes*/
@font-face {
  font-family: "Candara";
  src: url(fonts/candara-4.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url(fonts/BebasNeue.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WebSymbolsRegular";
  src: url("./fonts/websymbols-regular-webfont.svg#WenSymbolsRegular") format("svg"),
    url("./fonts/websymbols-regular-webfont.eot") format("svg"),
    url("./fonts/websymbols-regular-webfont.eot#iefix") format("embedded-opentype"),
    url("./fonts/websymbols-regular-webfont.woff") format("woff"),
    url("./fonts/websymbols-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


/*Generalres*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*REGISTER*/

#formRegister {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 15px;
}

#box-form {
  width: 30%;
  margin: 10px;
  background: white;
  box-shadow: 0px 0px 1px #47361A, 0px 3px 7px #47361A,
    0px 1px white inset, 0px -3px 2px #47361A inset;
}


.box-register {
  display: flex;
  justify-content: center;
  margin: 20px;
  flex-direction: column;
}

.box-register input,
select {
  font-size: 18px;
}

.box-register input[type="file"] {
  font-size: 11px;
}

.box-button {
  text-align: center;
}

.box-button button[type="submit"],
.box-button button[type="reset"] {
  border: none;
  background: #FDB825;
  color: white;
  margin: 15px;
  padding: 12px;
  border-radius: 4px;
}


.box-imageUsers h3 {
  text-align: center;
}

/*login usuario*/

.boxlogin input,
select {
  font-size: 11px;
}

.login {
  background: white;
}

.inputlogin {
  display: flex;
  justify-content: space-between;
}

.inputlogin .label {
  margin: 5px;
}

.inputlogin .label:hover {
  text-decoration: underline;
  color: #FDB825;
  filter: drop-shadow(8px 2px 12px #f3d083);
}

.checkbox {
  padding-top: 20px;
}


@media (min-width: 1370px) {

  .box-register input,
  select {
    font-size: 26px;
  }

  .box-imageUsers h3 {
    font-size: 26px;
  }
}

div .error-validation {
  color: red;
  margin-left: 6px;
}

.is-invalid {
  color: rgba(255, 0, 0, 0.514);
  border: 2px solid rgba(255, 0, 0, 0.514);
}

.is-valid {
  color: rgb(110, 194, 250);
  color: 2px solid rgb(110, 194, 250);
}

.error-message {
  color: rgba(255, 0, 0, 0.514);
}

.error-message-login {
  color: red;
  position: absolute;
  top: 98px;
  left: 68px;
  font-weight: bold;
}

.box-button button[type="reset"]:hover {
  background: #fcd88b;
}

.box-button button[type="submit"]:hover {
  background: #fcd88b;
}