/*Fuentes*/
@font-face {
  font-family: "Candara";
  src: url(fonts/candara-4.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url(fonts/BebasNeue.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WebSymbolsRegular";
  src: url("./fonts/websymbols-regular-webfont.svg#WenSymbolsRegular") format("svg"),
    url("./fonts/websymbols-regular-webfont.eot") format("svg"),
    url("./fonts/websymbols-regular-webfont.eot#iefix") format("embedded-opentype"),
    url("./fonts/websymbols-regular-webfont.woff") format("woff"),
    url("./fonts/websymbols-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*Generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../img/pattern.png);
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}

.wrap-banner {
  padding: 105px;
}

.gear,
.icon {
  font-family: "WebSymbolsRegular";
}

.clearfix {
  float: none;
  clear: both;
}

/*estilo cabecera*/
#header {
  width: 100%;
  height: 70px;
  background-color: #FDB825;
  font-family: "BebasNeue";
  color: white;
}

#logo {
  float: left;
  width: 230px;
  background-color: #FDB825;
  text-align: center;
  margin-top: 8px;
  margin-left: 25px;
  letter-spacing: 1px;
  cursor: pointer;
  overflow: hidden;
  transition: all 300ms;
}

#logo:hover {
  border-radius: 2px;
  color: #47361A;
  background-color: #ccc;
}

#logo .gear {
  display: block;
  float: left;
  font-size: 30px;
  margin-top: 4px;
  margin-left: 25px;
  animation-name: rotate-gear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate-gear {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

#logo:hover .gear {
  animation: fromBellow 500ms linear;
}

@keyframes fromBellow {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0%);
  }
}

#logo h3 {
  display: block;
  float: right;
  font-size: 30px;
  margin-top: 8px;
  margin-right: 25px;
  transition: all 300ms;
}

#logo:hover h3 {
  animation: fromRight 500ms linear;
}

@keyframes fromRight {
  from {
    transform: translateX(200%);
  }

  to {
    transform: translateX(0%);
  }
}

#menu {
  float: right;
  height: 70px;
  background: #FDB825;
}

#menu ul li {
  font-size: 24px;
  display: inline-block;
  margin: 0px 20px 0px 20px;
  letter-spacing: 1px;
  line-height: 70px;
}

#menu ul li a {
  display: block;
  color: white;
  text-decoration: none;
  transition: all 200ms;
}

#menu ul li a:hover {
  color: #47361A;
  transform: scale(1.2, 1.2);
}

/*Banner*/

#banner {
  width: 97%;
  height: 150px;
  border: 10px solid white;
  box-shadow: 0px 0px 2px gray;
  background: url(../img/casquilleraBanner.png);
  background-position: -271px -190px;
  margin: 20px auto;
  overflow: hidden;
  animation: backBanner 10s linear;
}

@keyframes backBanner {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: -200px -200px;
  }
}

#banner h1 {
  display: block;
  width: 850px;
  font-family: "BebasNeue";
  color: white;
  font-size: 45px;
  letter-spacing: 2px;
  margin: 100px auto;
  margin-top: 5px;
  font-weight: normal;
  text-shadow: 2px 2px 1px black;
  animation: showText 10s linear;
}



/*Barra lateral*/

#lateral {
  width: 300px;
  min-height: 1200px;
  font-family: "Candara";
  float: right;
  margin: 20px;
}

aside h3 {
  display: block;
  width: auto;
  height: 45px;
  line-height: 50px;
  background: url(../img/pxgray.png) white;
  box-shadow: 0px 1px 0px #47361A, 1px 2px #47361A, 2px 3px 0px #47361A,
    3px 4px 0px #47361A;
  font-size: 30px;
  font-family: "BebasNeue";
  font-weight: normal;
  letter-spacing: 2px;
  padding-left: 15px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #47361A;
}

aside h3:first-child {
  margin-top: 0;
}

#search {
  height: 28px;
  margin: 26px auto;
  border: none;
}

#search input[type="text"] {
  border: none;
  font-size: 15px;
}

#search .icon {
  margin-left: -17px;
  font-size: 12px;
  border: none;
}


#lateral input[type="text"] {
  width: 85%;
  height: 30px;
  border: none;
  padding-left: 5px;
  border-radius: 5px;
  background-color: transparent;
  color: #ccc;
  transition: all 300ms;
}

#lateral input[type="text"]:focus {
  color: #555;
}

#lateral input[type="button"],
#lateral input[type="submit"] {
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-left: 1px solid #ccc;
  color: #555;
  padding-left: 7px;
}

.aside-box {
  width: 85%;
  height: 240px;
  margin: 0px auto;
  margin-top: 20px;
  padding-top: 2px;
  background: white;
  box-shadow: 0px 0px 1px #47361A, 0px 3px 7px #47361A,
    0px 1px white inset, 0px -3px 2px #47361A inset;
}

#login input[type="email"],
#login input[type="password"] {
  display: block;
  margin: 0px auto;
  margin-top: 20px;
  width: 82%;
  height: 30px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #ccc inset;
  border-radius: 5px;
  padding-left: 30px;
  color: gray;
}

#login input[type="email"]:focus,
#login input[type="password"]:focus {
  color: #555;
  box-shadow: 1px 1px 1px gray inset;
}

#login #user,
#login #password {
  display: block;
  text-align: center;
  position: absolute;
  margin-left: 15px;
  margin-top: 6px;
  height: 30px;
}

#login #password {
  margin-left: 18px;
  margin-top: 25px;
  font-size: 20px;
}

#login input[type="submit"],
#login input[type="reset"],
#login input[type="button"] {
  text-align: center;
  width: 100px;
  height: 35px;
  margin-top: 20px;
  color: white;
  background: linear-gradient(to bottom, #FDB825 0%, #FDB825 100%);
  border: 1px solid #FDB825;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-family: "Candara", sans-serif;
  font-weight: lighter;
  margin-left: 17px;
  margin-bottom: 20px;
  transition: all 300ms;
}

#login input[type="submit"]:hover,
#login input[type="reset"]:hover,
#login input[type="button"]:hover {
  box-shadow: 0px 0px 3px gray;
}

#login a {
  display: block;
  font-size: 14px;
  text-decoration: none;
  margin-left: 18px;
  color: #555;
}

#login a:hover {
  text-decoration: underline;
  color: #2f78bc;
}

#social {
  height: 185px;
}

#social a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#social .overlay {
  display: block;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0px 0px 1ox #ccc;
  box-shadow: 0px 0px 4px #ccc;
  background: #f4f7fe;
  position: absolute;
  padding: 5px;
  margin-left: 70px;
  margin-top: -52px;
  cursor: pointer;
  transform: translateX(-80%);
  opacity: 0;
  transition: all 400ms;
}

#social div:hover .overlay {
  opacity: 1;
  transform: translateX(0%);
}

/*ARTICULOS*/
#articles {

  background: rgba(255, 255, 255, 0.001);
}

.title-index {
  display: block;
  width: 92%;
  height: 75px;
  line-height: 75px;
  text-align: center;
  font-family: "BebasNeue", sans-serif;
  font-size: 23px;
  font-weight: normal;
  background: url(../img/pxgray.png), white;
  box-shadow: 0px 1px 0px #393d3f, 1px 2px #393d3f, 2px 3px 0px #393d3f, 3px 4px 0px #393d3f;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #47361A;
}


#articles article {
  width: 95%;
  height: auto;
  border: 1px solid #ccc;
  margin: 40px auto;
  padding: 10px;
  font-family: "Candara", sans-serif;
  background: white;
  color: black;
  box-shadow: 1px 1px 2px #ddd;
}

#articles #container-products {
  width: 97%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 5px;
  align-items: center;
  flex-direction: row;
  flex-basis: 100%;
  padding-top: 1.2rem;

}

#articles #container-products .box-product {
  width: 45%;
  /* height: 500px; */
  margin: 3px;
  border: 1px solid gray;
  background: #FFEDD2;
  box-shadow: 0px 0px 1px #47361A, 0px 3px 7px #47361A,
    0px 1px white inset, 0px -3px 2px #47361A inset;

  padding: 20px;

}

div .box-img {
  display: flex;
  justify-content: center;
  background: white;
}

#articles #container-products img {
  width: 61%;
  height: 260px;
  margin-bottom: 16px;
  margin-top: 10px;
}

.profile-product img {
  height: 214px;
}

.box-details .name-product,
.price-product {
  font-weight: bold;
  font-size: 18px;
}

.box-details .name-product a {
  color: #47361A;
  text-decoration: none;
  font-size: 15px;
}

.box-details .name-product:hover a {
  text-decoration: underline;
}


.box-details .descrption-product {
  display: block;
  height: 70px;
  overflow: hidden;
}

.panel-Product {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

#box-profile-product a {
  text-decoration: none;
}


.box-details .name-product,
.price-product,
.descrption-product {
  color: #47361A;
  margin: 7px;
}

.wrap-content {
  padding-top: 105px;
}





/*footer*/

#footer {
  width: 100%;
  height: 470px;
  background: #FDB825;
  color: white;
  overflow: hidden;
}

#footer .footer_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#footer .footer_wrap .copyright {
  width: 100%;
}

#footer .footer_wrap .copyright:hover {
  color: white;
  text-decoration: underline;
  font-size: 22px;
  filter: drop-shadow(8PX 2PX 6PX BLACK);
}

#footer .wrap>div {
  float: left;
  width: 320px;
  height: 370px;
  margin: 25px;
  text-align: center;
  color: #47361A;
  font-size: 20px;
  font-family: "Candana";
}

#footer a {
  text-decoration: none;
  color: #47361A;
  transition: all 300ms;
}

#footer h5 {
  display: block;
  background: url(../img/pxgray.png), white;
  height: 50px;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Candana";
  font-size: 30px;
  line-height: 50px;
  color: #47361A;
  border-radius: 5px;
  margin-bottom: 15px;
}

#footer ul {
  text-align: center;
  margin: 20px;
  font-size: 25px;
}

#footer ul li {
  margin-top: 10px;
  padding: 5px;
  border-bottom: 1px solid black;
}

#footer ul li a {
  display: block;
  height: 40px;
  transition: all 300ms;
}

#footer ul li:hover a {
  width: 100%;
  padding-left: 40px;
  color: white;
}

#footer iframe {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  border-radius: 5px;
  border: 5px solid white;
  box-shadow: 0px 0px 5px gray;
}

#footer img {
  margin-bottom: 15px;
}

#footer #browsers img {
  width: 45px;
}

/*final footer*/

/*Nuevo*/
#cerveza {
  text-align: center;
}

.titulo {
  margin-top: 50px;
}

#cerveza #contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-imagen {
  width: 300px;
  height: 600px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.profile-imagen {
  transition: transform 0.3s ease;
}

.profile-imagen:hover {
  transform: scale(1.1);
}

.profile-name {
  font-size: 4.0em;
  font-family: fantasy;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



#cerveza .profile-details {
  display: flex;
  flex-direction: column;
  height: 170px;
  align-items: center;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 50px;
}

.profile-button {
  display: flex;
  justify-content: center;
  flex-direction: row;
}


button {
  text-align: center;
  margin-top: 20px;
  color: white;
  background: linear-gradient(to bottom, #FDB825 0%, #FDB825 100%);
  border: 1px solid #FDB825;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5em;
  font-family: "Candara";
  font-weight: lighter;
  margin-bottom: 20px;
  transition: all 300ms;
}

.zoom-button {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.zoom-button:hover {
  transform: scale(1.1);

}


.profile-otras {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-otras-cervezas {
  width: 100px;
  height: 225px;
  margin: 10px;
  transition: all 1s;

}

.profile-otras-cervezas:hover {
  transform: scale(1.1);
}

.profile-product {
  font-size: 1.2em;
}

.profile-product p {
  font-weight: 600;
}

/*estilos carrito*/

.body-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cart {
  display: flex;
  background: white;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  border-radius: 3px;
  width: 80px;
  margin-left: 60%;
}

.fa-solid {
  color: goldenrod;

}

.cart p {
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  background: goldenrod;
  color: white;
}

.cart-container {
  display: flex;
  width: 90%;
  margin: 90px;
  padding: 20px;
}

#root {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  background: white;
}

.sideBar {
  width: 40%;
  border-radius: 5px;
  background: white;
  margin-left: 20px;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 0px 1px #47361A, 0px 3px 7px #47361A, 0px 1px white inset, 0px -3px 2px #47361A inset;
}

.headCart {
  background: goldenrod;
  border-radius: 3px;
  height: 50px;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foot {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 10px 0px;
  border-top: 1px solid #333;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 1px #47361A, 0px 3px 7px #47361A, 0px 1px white inset, 0px -3px 2px #47361A inset;
  border-radius: 5px;
  padding: 15px;
}

.img-box {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.images {
  max-width: 90%;
  max-height: 90%;
  border-radius: 3px;
  object-fit: cover;
  object-position: center;
}

.bottom {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 110px;
}

h2 {
  font-size: 20px;
  color: #f20f0f;

}

button .button-cart {
  width: 100%;
  position: relative;
  border: none;
  border-radius: 5px;
  background: goldenrod;
  padding: 7px 25px;
  cursor: pointer;
  color: white;
}

button .button-cart:hover {
  background: #f8d280;

}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: #eee;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  margin: 10px 10px;
}

.row-img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid goldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.rowimg {
  max-width: 43px;
  max-height: 43px;
  border-radius: 10%;
}

.fa-trash:hover {
  cursor: pointer;
  background: #333;
}

@media (max-width: 425px) {

  #root {
    width: 50%;
    grid-template-columns: repeat(1, 1fr);

  }

  .sideBar {
    width: 50%;
    margin-left: 3px;
    padding: 5px;
  }

  .box {
    width: 90%
  }

  .cart-container {
    display: flex;
    width: 90%;
    margin: 90px;
    padding: 5px;
  }

  .cart-item {
    padding: 10px;
    margin: 10px 10px;
    display: block;
    align-items: center;

  }

  .row-img {
    margin-left: 42px;

  }

  .cart {
    margin-left: 15px;
  }
}

@media (max-width: 768px) {
  .cart {
    margin-left: 30px;
  }

  .cart-item {
    display: block;
  }

  .row-img {
    margin-left: 49px;

  }

}

@media (max-width: 1024px) {
  .cart {
    margin-left: 12px;
  }
}

/* Fin estilos carrito */