
div #box-profile-users, div #box-profile-product {
    background: white;
    margin: 10px;
    padding: 10px;
    display: inline-flex;
    width: 87%;
    box-shadow: 0px 0px 1px #47361A, 0px 3px 7px #47361A,
    0px 1px white inset, 0px -3px 2px #47361A inset;

}

.panel-users {
    padding: 124px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.panel-users a {
    /*product list links*/
    text-decoration: none;
}

.profile-users, .profile-product {
    margin: 10px;
    width: 87%;
    overflow: hidden;
}

.profile-users img, .profile-product img {
    width: 90%;
    background: #f4f7f4;
    display: block;
    margin: 0 auto;
    box-shadow: 1px 1px 2px #47361A;
    padding: 10px;


}

/*Inicio  Perfil Usuario*/

.profile-user {
    display: flex;
    justify-content: center;
}

#container-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
    margin: 6px;
    padding: 10px;
    box-shadow: 0px 0px 1px #47361A, 0px 3px 7px #47361A, 0px 1px white inset, 0px -3px 2px #47361A inset;
}

#container-profile h2 {
    margin-bottom: 15px;
    margin-left: 10px;
    text-align: center;
}

#container-profile .panel-profile {
    margin-top: 20px;
    margin-left: 0px;
}

#container-profile .button-profile {
    text-align: center;
}

/* Estilos adicionales para perfil de usuario */

#container-profile{
    width: 130%;
}

.container-welcome {
    display: flex;
    justify-content: space-between;
}
.container-welcome h2 {
    font-size: 16px;
    color: #4f1e1ec4;
}

#container-profile .panel-profile {
    text-align: center;
    background: #fcad037d;
    color:  #4f1e1ef6;
    font-size: 17px;
    border-radius: 5px;
    

}

#container-profile .panel-profile i {
    color: #2f78bc;
}

#container-profile .img-profile {
    box-shadow: 0px 0px 1px #47361A, 0px 3px 7px #47361A, 0px 1px white inset, 0px -3px 2px #47361A inset;
    border-radius: 5px;
    width: 25%;
}
.button-profile button {
    font-size: 18px;
    border-radius: 2px
    
}

.button-profile button:hover {
    background:  #f8d280;
    
}
/* Fin estilos adicionales */




/*Fin perfil Usuario*/

/*iniciologin*/
.formlogin {
    text-align: center;

}

.boxlogin {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.login {
    box-shadow: 0px 0px 1px #47361A, 0px 3px 7px #47361A,
    0px 1px white inset, 0px -3px 2px #47361A inset;
    margin-bottom: 150px;
}

.inputlogin {

    margin: 10px;
}


@media (min-width: 768px) {
    #list-user {
        display: flex;
        text-align: center;
    }

    div #box-profile-users, div #box-profile-product {
        background: white;
        margin: 10px;
        padding: 10px;
        justify-content: space-evenly;
        display: inline-block;
        width: 40%;
        box-shadow: 0px 0px 1px #47361A, 0px 3px 7px #47361A,
        0px 1px white inset, 0px -3px 2px #47361A inset;

    }

    .profile-users, .profile-product {
        margin: 10px;
        padding: 0px;
        display: block;
        width: 90%;
    }

    .profile-users img, .profile-product img {
        width: 90%;
        background: #f4f7f4;
        display: block;
        margin: 0 auto;
        box-shadow: 1px 1px 2px #47361A;
        padding: 10px;
    }

    /* Estilos adicionales media query 768px */

    #container-profile{
        width: 150%;
        margin: 0px;
    }

    .container-welcome {
         padding: 10px;
    }

    .container-welcome h2 {
        font-size: 18px;  
    }
    
    #container-profile .panel-profile {   
        font-size: 25px;
        padding: 10px;
    }
    
    #container-profile .img-profile {     
        width: 35%;
    }
    .button-profile button {
        font-size: 25px;    
    }
    /* Fin estilos adicionales media 768px */
}

@media (min-width: 1024px) {
    #container-profile {
        width: 40%;
    }

    #container-profile img {
        width: 400px;
    }

    #list-user {
        display: flex;
        text-align: center;
    }

    div #box-profile-users, div #box-profile-product {
        background: white;
        margin: 20px;
        padding: 10px;
        justify-content: space-evenly;
        display: inline-block;
        width: 25%;
        box-shadow: 0px 0px 1px #47361A, 0px 3px 7px #47361A,
        0px 1px white inset, 0px -3px 2px #47361A inset;

    }

    .profile-users, .profile-product {
        margin: 5px;
        padding: 0px;
        display: block;
        width: 90%;
    }

    .profile-users img, .profile-product img {
        width: 95%;
        background: #f4f7f4;
        display: block;
        margin: 0 auto;
        box-shadow: 1px 1px 2px #47361A;
        padding: 10px;
    }
    /* Estilos adicionales @media 1024 */
    #container-profile{
        width: 400%;
    }
 
     .container-welcome {
         padding: 30px;
    }
    .container-welcome h2 {
        font-size: 25px; 
        padding: 10px;
        margin: 15px;
    }
    
    #container-profile .img-profile {     
        width: 38%;
    }
   .button-profile button {
        font-size: 30px;    
    }
   /* Fin */
}

@media (min-width: 1044px) {
    #list-user {
        display: flex;
        text-align: center;
    }

    div #box-profile-users, div #box-profile-product {
        background: white;
        margin: 20px;
        padding: 10px;
        justify-content: space-evenly;
        display: inline-block;
        width: 20%;
        box-shadow: 0px 0px 1px #47361A, 0px 3px 7px #47361A,
        0px 1px white inset, 0px -3px 2px #47361A inset;

    }

    .profile-users, .profile-product {
        margin: 5px;
        padding: 0px;
        display: block;
        width: 90%;
    }

    .profile-users img, .profile-product img {
        width: 95%;
        background: #f4f7f4;
        display: block;
        margin: 0 auto;
        box-shadow: 1px 1px 2px #47361A;
        padding: 10px;
    }
   
}