<header id="header">
    <div class="wrap">
        <div id="logo">
            <span class="gear">N</span>
            <h3>Casquillera</h3>
        </div>
        <nav id="menu">
            <ul>
                <li> <a href="#">Inicio</a></li>
                <li> <a href="#">Productos</a></li>
                <li> <a href="#">Carrito</a></li>
                <li> <a href="#">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>