<nav class="menu">
    <section class="menu_container">
        <h1 class="menu_logo">Casquillera</h1>


        <ul class="menu_links">
            <li class="menu_item">
                <a href="/" class="menu_link">Inicio</a>
            </li>

            <li class="menu_item menu_item--show">
                <a href="#" class="menu_link">Nuestas cepas <img src="/img/svg/arrow.svg" class="menu_arrow"></a>

                <ul class="menu_nesting">
                    <li class="menu_inside">
                        <a href="/product" class="menu_link menu_link--inside ">Nuestros productos</a>
                    </li>
                    <li class="menu_inside">
                        <a href="/product/create" class="menu_link menu_link--inside ">Crea tu producto</a>
                    </li>
                    <li class="menu_inside">
                        <a href="" class="menu_link menu_link--inside ">About 3</a>
                    </li>
                </ul>
            </li>

            <li class="menu_item menu_item--show">
                    <% if (locals.isLogged ) { %>
                    <a href="#" class="menu_link">Panel usuario<img src="/img/svg/arrow.svg" class="menu_arrow"></a>

                    <ul class="menu_nesting">
                        <li class="menu_inside">
                            <a href="/user/perfil" class="menu_link menu_link--inside ">Perfil</a>
                        </li>
                        <li class="menu_inside">
                            <a href="/user/logout" class="menu_link menu_link--inside ">Logout</a>
                        </li>
                    </ul>
                </li>
                <% } else { %>
                    <li class="menu_item">
                        <a href="/user/login" class="menu_link">Iniciar sesion</a>
                    </li>
                    <li class="menu_item">
                        <a href="/user/create" class="menu_link">Registrate</a>
                    </li>
                    <% } %>
                        <li class="menu_item">
                            <a href="#" class="menu_link">Contacto</a>
                        </li>

                        <li class="menu_item">
                            <a href="/quienes-somos" class="menu_link">Quienes somos</a>
                        </li>

                        <div id="search">
                            <input type="text" placeholder="  Buscar" />
                            <input type="button" value="L" class="icon" />
                        </div>


        </ul>
        <div class="menu_hamburge">
            <img src="/img/svg/menu.svg" class="menu_img">
        </div>
    </section>
</nav>